/* righteous font */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/* poller font */
@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');

/* lexend exa font */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@700&display=swap');

/* poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



:root{
    --nearWhite: #F9F7F7;
    --daycaresViolet: #35354A;
    --swampfestGreen: #C4D303;
    --messiverseBlue: #42A4D1;
    --advertisingRed: #6C0D0D;
    --titleFont: 400 normal "Righteous", sans-serif;
    --titleFont2: "Poller One", serif;
    --titleFont3: 'Lexend Exa', sans-serif;
}